*csv
2.IngestingNYTaxiToPostgres/Yellow Taxi 2019 Jan.csv
ny_taxi_postgres_data/
2.IngestingNYTaxiToPostgres/ny_taxi_postgres_data/
4.DockerCompose/pgadmin_data/pgadmin4.db
5.CompleteDockerCompose/pgadmin_data/pgadmin4.db
/workspaces/DataEngineering/6.Terraform/keys

